{{#each blogs as |blog|}}
<section class="user-post">
    <div class="post-header">
        <h3><a href="/api/comment/{{blog.id}}">{{blog.title}}</a></h3>
        <h4>Posted by: <span id="blog-name">{{blog.user.username}}</span> on <span id="blog-date">{{format_date blog.date_created}}</span></h4>
    </div>

    <div class="post-text">
        <p id="blog-text">{{blog.blog}}</p>
    </div>


    <div class="comment-lower">
        <button class="comment-button" id="make-comment"><a href="/api/blogs/new-form/{{blog.id}}">Comment</a></button>
    </div>
</section>
{{/each}}





