{{#each blogs as |blog|}}
<section class="user-post">
    <div class="post-header">
        <input type="hidden" id="blog_id" name="blog_id" value="{{blog.id}}">
        <h3><a href="/api/comment/{{blog.id}}">{{blog.title}}</a></h3>
        <h4>Posted by: <span id="blog-name">{{blog.user.username}}</span> on <span id="blog-date">{{format_date blog.date_created}}</span></h4>
    </div>

    <div class="post-text">
        <p id="blog-text">{{blog.blog}}</p>
    </div>

    <div class="comment-lower">
        <button class="comment-button" id="make-comment" >Comment</button>
    </div>

</section>
{{/each}}

<script src="/js/create-comment.js"></script>

